@charset "utf-8";

$wrapper-width: 16.8rem;
$font-default: "SVNGothamBook", sans-serif;
$font-montser: "Montserrat", sans-serif;
$font-ftv: "ftv", sans-serif;
$font-beautique: "BeautiqueDisplay", sans-serif;
$fontsize-default: 0.16rem;
$fontweight-default: 400;
$lineheight-default: calc(24 / 16);
$color-default: #006a51;
$color-light: #fff;
$color-yellow: #C6A45A;
$color-white: #fff;
$color-brown: #3d4442;
$color-red: #800000;
