a.button-top.fixed-element.js-button-top(href="#")
  img(src=imgCommonPC+"arrow_top.svg" width="30" height="17" loading="lazy" alt="Lên đầu trang")
a.button-chat(href="#" target="_blank")
  .button-wrapper
    img.object-common(src=imgCommonPC+"message_icon.svg" width="56" height="56" loading="eager" alt="Message")
a.button-360(href="#" target="_blank")
  .button-wrapper
    img.object-common(src=imgCommonPC+"360_icon.png" width="52" height="45" loading="eager" alt="Message")
