@charset "utf-8";
@use "_base/base"as *;

.section-top-keyvisual {
  .keyvisual-title {
    margin: 0;
  }

  .group-bg {
    background: url(../resources/images/top/keyvisual_background.jpg) center center / cover no-repeat;
  }

  .keyvisual-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
  }

  .keyvisual-intro {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
  }

  .button-common-primary {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
  }

  @include desktop {
    .keyvisual-wrapper {
      padding: calc(238 / 980 * 100vh) calc(549 / 1920 * 100vw) .5rem;
    }

    .keyvisual-title {
      width: 2.8rem;
    }

    .button-common-primary {
      margin-bottom: 0.32rem;
    }
  }

  @include tablet {
    height: 10.5rem !important;
  }

  @include mobile {
    height: 6.7rem !important;

    .keyvisual-wrapper {
      padding: 1.2rem 0.2rem;
    }

    .keyvisual-title {
      width: 1.4rem;
    }
  }
}

.section-top-icon {
  .group-bg {
    background: url(../resources/images/top/icon_bg_01.jpg) center center / cover no-repeat;
  }

  @include desktop {
    min-height: 9.8rem;

    .wrapper {
      max-width: 17.04rem;
    }

    .title-common-primary {
      width: 4.92rem;
      flex-shrink: 0;
      margin-top: -0.18rem;
    }

    .icon-wrapper {
      display: flex;
      justify-content: space-between;
      max-width: 12.38rem;
      margin-left: auto;
      padding-bottom: 1.25rem;
    }

    .paragraph-common {
      max-width: 3.4rem;

      p {
        margin-bottom: .4rem;
      }
    }
  }

  @include tablet {
    .group-bg {
      background-position: top right -.4rem;
    }
  }

  @include mobile {
    min-height: 6.8rem;

    .paragraph-common {
      color: $color-default;
    }
  }
}

.section-top-overview {
  .group-bg {
    background: url(../resources/images/top/overview_bg_01.jpg) center center / cover no-repeat;

    &::before {
      position: absolute;
      content: "";
      top: 0;
      right: 0;
      width: 0;
      height: 100%;
      background: url(../resources/images/top/overview_bg_02.png) no-repeat center / cover;
      pointer-events: none;
      transition: width .6s cubic-bezier(0.8, 0, 1, 1);
    }
  }

  .title-common-primary {
    text-align: right;
    font-family: $font-default;
  }

  .wrapper {
    position: relative;
    z-index: 1;
  }

  @include desktop {
    min-height: 9.8rem;

    .group-bg {
      &::before {
        max-width: 11.65rem;
      }
    }

    .wrapper {
      max-width: 17.48rem;
    }

    .overview-wrapper {
      display: flex;
      justify-content: space-between;
      gap: .5rem;
      padding-top: 1rem;
    }

    .title-common-primary {
      width: 3.95rem;
      padding: 0 0 0 1.6rem;

      .title-small {
        margin-right: -0.2rem;
      }
    }
  }

  @include tablet {
    .group-bg {
      &::before {
        width: 100%;
      }
    }

    .title-common-primary {
      width: 2.95rem;
      padding: 0 0 0 .6rem;
    }
  }

  @include mobile {
    min-height: 6.8rem;

    .overview-wrapper {
      padding: 0.4rem 0;
    }

    .group-bg {
      &::before {
        width: 100%;
      }
    }

    .title-common-primary {
      width: 3.95rem;
      padding: 0 1.6rem 0 0;

      .title-small {
        margin-right: -0.2rem;
      }
    }
  }
}

.section-top-overview.is-active {
  .group-bg {
    &::before {
      width: 100%;
      transition: width 2s cubic-bezier(0.2, 0, 0.2, 1) .45s;
    }
  }
}

.list-top-overview {
  width: 100%;
  color: #fff;

  .list-wrapper,
  .content-list {
    @include reset-list;
  }

  .item-wrapper,
  .content-list {
    display: flex;
  }

  .content-item {
    flex: 1;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .item-content {
    flex: 1;
  }

  .content-detail {
    margin: 0;
    font-family: $font-ftv;
  }

  @include desktop {
    max-width: 4.95rem;

    .content-title {
      margin-bottom: .08rem;
      font-size: .2rem;
      line-height: calc(24 / 20);
    }

    .content-detail,
    .content-item {
      font-size: .35rem;
      line-height: calc(42 / 35);
    }

    .bigger {
      font-size: .3rem;
      line-height: calc(36 / 30);
    }

    .large {
      font-size: .32rem;
      line-height: calc(38 / 32);
    }

    .small {
      font-size: .24rem;
      line-height: calc(28 / 24);
    }

    .list-item {
      margin-bottom: .52rem;
    }
  }

  @include mobile {
    .content-title {
      margin-bottom: .08rem;
      font-size: .16rem;
      line-height: calc(22 / 16);
    }

    .content-detail,
    .content-item,
    .bigger,
    .large {
      font-size: .2rem;
      line-height: 1.2;
    }

    .small {
      font-size: .14rem;
      line-height: calc(28 / 24);
    }

    .list-item {
      margin-bottom: .2rem;
    }
  }
}

.section-top-video {
  .controls {
    display: flex;
    position: absolute;
    z-index: 10;
    bottom: 0.1rem;
    left: calc(50% - 25vw);
    align-items: center;
    justify-content: center;
    width: 50vw;
    height: auto;
    padding: 0.05rem 0.1rem;
    transition: opacity 0.5s ease-in-out;
    text-align: center;

    &.hide {
      opacity: 0;

      &>* {
        pointer-events: none;
      }
    }
  }

  .left-button {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 1.8rem;
    height: auto;
    gap: .1rem;
  }

  .right-button {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 0.2rem;
    min-width: .4rem;
    height: auto;
  }

  .left-button,
  .right-button {
    svg {
      display: block;
      position: relative;
      width: 100%;
      height: 100%;
      fill: #fff;
    }

    g {
      display: block;
      position: relative;
      width: 100%;
      height: 100%;
    }
  }

  .left-button button,
  .right-button button {
    display: block;
    position: relative;
    width: 0.15rem;
    min-width: .3rem;
    height: 0.15rem;
    min-height: .3rem;
    margin: 0 0.03rem;
    background-color: transparent;
    cursor: pointer;
  }

  .video-progress {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    width: calc(100% - 2.2rem);
    height: .12rem;
    --video-progress: 0%;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 0;
      height: 2px;
      transform: translateY(-50%);
      pointer-events: none;
    }

    &::before {
      width: 100%;
      background: rgba(#fff, 0.35);
    }

    &::after {
      width: var(--video-progress);
      background: #fff;
    }
  }

  .progressbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    opacity: 0;
    pointer-events: none;
    appearance: none;
  }

  .seek {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    box-shadow: none;
    background: transparent;
    cursor: pointer;
    appearance: none;
    opacity: 0;
  }

  .bg-video {
    position: absolute;
    z-index: 15;
    top: 50%;
    left: 50%;
    width: 100%;
    min-width: 100%;
    height: 100%;
    min-height: 100%;
    transform: translate(-50%, -50%);
    transition: opacity 0.6s ease-in-out;
    background-position: center center;

    img {
      position: relative;
      pointer-events: none;
      object-position: center center;
    }

    &.hide {
      opacity: 0;
      pointer-events: none;
    }
  }

  .video-time {
    color: #fff;
    width: 1.2rem;
    flex: 0 0 auto;

    .time-elapsed,
    .duration {
      width: .42rem;
      display: inline-block;
    }
  }

  .player-vid {
    display: flex;
    position: absolute;
    z-index: 999;
    top: 50%;
    left: 50%;
    align-items: center;
    justify-content: center;
    width: .8rem;
    height: .8rem;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    background: $color-red;

    &::before,
    &::after {
      position: absolute;
      content: "";
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border: 1px solid $color-default;
      border-radius: 50%;
      animation: ring 2s infinite;
    }

    &::before {
      width: calc(100% + .2rem);
      height: calc(100% + .2rem);
      animation-delay: 1.5s;
    }

    &::after {
      width: calc(100% + .1rem);
      height: calc(100% + .1rem);
      animation-delay: 0s;
    }

    &.hide {
      opacity: 0;
      pointer-events: none;
    }

    svg {
      display: block;
      position: relative;
      z-index: 1;
      width: 100%;
      height: 100%;
      transform-origin: center center;
      pointer-events: none;
      fill: #fff;
    }
  }

  .button-deco {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    overflow: hidden;
    border-radius: 50%;
  }

  .button-deco-filler {
    position: absolute;
    top: -50%;
    left: -25%;
    width: 150%;
    height: 200%;
    transform: translate3d(0, 75%, 0);
    border-radius: 50%;
    background-color: #fff;
  }
}

.section-top-location {
  .location-thumbnail {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .location-content {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
  }

  .content-wrapper {
    height: 100%;
    width: 100%;
  }

  .js-map {
    transform-origin: center center;
    touch-action: none;
    user-select: none;
    will-change: transform;
    cursor: default;
  }

  .thumbnail-wrapper {
    overflow: hidden;
    width: 100%;
    height: 100%;
  }

  .thumbnail-inner {
    width: 100%;
    height: 100%;
  }

  @include desktop {
    min-height: 9.8rem;

    .title-common-primary {
      margin-bottom: .45rem;
    }

    .content-wrapper {
      background: url(../resources/images/top/location_bg_01.png) no-repeat top left;
      max-width: 9.78rem;
      background-size: 9.78rem 100%;
      padding: 2.52rem 2.7rem 0.5rem 1.52rem;
    }

    .paragraph-common {
      max-width: 4.1rem;
      font-size: .19rem;
      line-height: calc(30 / 19);
    }

    .thumbnail-inner {
      transform: scale(1) !important;
    }
  }

  @include tablet {
    .content-wrapper {
      padding: 2rem 2rem 0.5rem 1rem;
    }
  }

  @include mobile {
    .group-bg {
      flex-direction: column-reverse;
      position: relative;
      background: url(../resources/images/top/location_bg_01.png) no-repeat top left;
    }

    .location-thumbnail {
      position: relative;
    }

    .map-controller {
      position: relative;
      z-index: 10;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      gap: 0.24rem;
      padding: 0.32rem;

      svg {
        width: 80%;
        height: 80%;
        position: relative;
        margin: 10%;
        z-index: 5;
      }

      span {
        position: relative;
        display: block;
        border-radius: 50%;
        width: 0.4rem;
        height: 0.4rem;

        &::before {
          content: "";
          position: absolute;
          width: 120%;
          height: 120%;
          left: -10%;
          top: -10%;
          border-radius: 50%;
          border: 2px solid transparent;
          background: linear-gradient(135deg, #ab8768 0%, rgba(255, 255, 255, 0) 50%, #e1cab0 100%) border-box;
          mask-composite: exclude;
          animation: Preloader 3s alternate infinite;
        }

        &::after {
          content: "";
          position: absolute;
          width: 90%;
          height: 90%;
          left: 5%;
          top: 5%;
          border-radius: 50%;
          background: #ab8768;
        }
      }
    }

    .content-wrapper {
      padding: 0.6rem 0.2rem;
    }
  }
}

.section-top-utilities {
  .wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .utilities-detail {
    text-transform: uppercase;
    color: #fff;
    margin: 0;
  }

  .bg-img {
    position: absolute;
    inset: 0;
  }

  .wrapper {
    position: relative;
    z-index: 1;
  }

  @include desktop {
    min-height: 9.8rem;

    .wrapper {
      max-width: 16.72rem;
      padding: 1.6rem 0 1rem;
    }

    .title-common-primary {
      padding-left: 3.86rem;
      width: 10.62rem;
    }

    .utilities-detail {
      padding-bottom: .28rem;
      font-size: .18rem;
      line-height: calc(21.6 / 18);
    }

    .utilities-body {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      gap: .2rem;
    }
  }

  @include mobile {
    min-height: 6.8rem;

    .group-bg {
      padding: 0.4rem 0;
    }

    .utilities-detail {
      padding-bottom: .28rem;
      font-size: .18rem;
      line-height: calc(21.6 / 18);
    }
  }
}

.block-top-utilities {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #073F33 url(../resources/images/top/utilities_map.png) no-repeat center / cover;
  position: relative;
  cursor: pointer;
  flex-shrink: 0;

  &::before,
  &::after {
    position: absolute;
    content: "";
    display: block;
    border-radius: 50%;
    border: 1px solid #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 2s infinite;
  }

  &::after {
    width: calc(100% + .15rem);
    height: calc(100% + .15rem);
    animation-delay: 0s;
  }

  &::before {
    width: calc(100% + .3rem);
    height: calc(100% + .3rem);
    animation-delay: 1.5s;
  }

  .block-title {
    text-align: center;
    color: #fff;
    margin: 0;
    text-transform: uppercase;
  }

  @include desktop {
    width: 1.35rem;
    height: 1.35rem;
    padding: .2rem;

    .block-title {
      font-size: .16rem;
      line-height: calc(19.2 / 16);
    }
  }

  @include mobile {
    width: 1rem;
    height: 1rem;
    padding: .1rem;

    .block-title {
      font-size: .14rem;
      line-height: calc(18 / 16);
    }
  }
}

.section-top-partner {
  .title-common-primary {
    .title-small {
      color: $color-red;
    }

    .title-large {
      color: $color-default;
    }
  }

  .title-common-secondary {
    font-weight: 700;
  }

  .central-bg {
    background: url(../resources/images/top/partner_img_01.jpg) center center / cover no-repeat;
  }

  @include desktop {
    .wrapper {
      max-width: 17.4rem;
    }

    .central-bg {
      padding: .8rem 0;
    }
  }

  @include mobile {
    .central-bg {
      padding: 0.4rem 0;
    }

    .title-common-secondary {
      text-align: center;
    }
  }
}

.list-top-partner {
  .list-wrapper {
    @include reset-list;
  }

  .item-image {
    display: block;
    text-align: center;

    img {
      width: auto;
      height: 100%;
    }
  }

  @include desktop {
    max-width: 10.2rem;
    margin: 0 auto 0.3rem;

    .list-wrapper {
      display: flex;
      justify-content: space-between;
    }

    .item-image {
      height: 0.96rem;
    }
  }

  @include mobile {
    .list-item {
      margin-bottom: .2rem;
    }

    .item-image {
      height: 0.96rem;
    }
  }
}

.list-partner-slider {
  margin: 0 auto;

  .title-common-secondary {
    text-align: center;
  }

  .swiper-wrapper {
    align-items: center;
  }

  .swiper-slide {
    width: auto;
  }

  .swiper-pagination {
    position: unset;
  }

  .swiper-pagination-bullet {
    width: 0.16rem;
    height: 0.16rem;
    background-color: #acbbb8;
    opacity: 1;
    margin: 0 0.09rem !important;
    position: relative;

    &::before {
      position: absolute;
      content: "";
      border-radius: 50%;
      border: 1px solid #c8c8c8;
      width: 0.24rem;
      height: 0.24rem;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
      transition: opacity .35s ease;
    }
  }

  .swiper-pagination-bullet-active {
    background-color: $color-red;

    &::before {
      opacity: 1;
    }
  }

  @include desktop {
    max-width: 15.4rem;

    &+& {
      margin-top: 0.32rem;
      max-width: 100%;

      .swiper-wrapper {
        margin-left: -0.3rem;
      }

      .swiper-slide {
        padding: 0 0.6rem;
      }
    }

    .swiper {
      padding-top: 0.04rem;
    }

    .swiper-wrapper {
      margin-left: -0.7rem;
    }

    .swiper-slide {
      padding: 0 0.7rem;
    }

    .swiper-pagination {
      margin-top: 0.36rem;
    }
  }

  @include tablet {
    &+& {
      .swiper-wrapper {
        margin-left: -0.15rem;
      }

      .swiper-slide {
        padding: 0 0.3rem;
      }
    }
  }

  @include mobile {
    max-width: 15.4rem;

    &+& {
      margin-top: 0.32rem;
      max-width: 100%;
    }

    .swiper {
      padding-top: 0.04rem;
    }

    .swiper-wrapper {
      transition-timing-function: linear !important;
    }

    .swiper-slide {
      padding: 0 0.2rem;
    }

    .swiper-pagination {
      display: none;
    }
  }
}

.section-top-news {
  position: relative;

  .central-bg {
    position: relative;

    &::before {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 100%;
      pointer-events: none;
      background: #f9fbfa;
      z-index: 1;
    }

    &::after {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 100%;
      pointer-events: none;
      height: 100%;
      z-index: 2;
      background: url(../resources/images/top/news_decor_01.png) center center / cover no-repeat;
    }
  }

  .title-common-primary {
    .title-large {
      color: $color-default;
    }
  }

  .wrapper {
    position: relative;
    z-index: 4;
  }

  .news-controller {
    display: flex;
    justify-content: center;
  }

  @include desktop {
    .central-bg {
      padding: 1rem 0 0.4rem;

      &::before {
        height: 3.88rem;
      }
    }

    .wrapper {
      max-width: 14.36rem;
    }

    .title-common-primary {
      margin-bottom: 0.5rem;
    }

    .news-controller {
      margin-top: 0.76rem;
    }
  }
}

.list-top-news {
  position: relative;
  z-index: 4;

  .list-wrapper {
    @include reset-list;
  }

  .item-wrapper {
    display: block;
    background: #f9fbfa;
    overflow: hidden;
    border-radius: 0.1rem;

    &:hover {
      img {
        transform: scale(1.05);
      }

      .item-content {
        &::before {
          transform: rotate(45deg);
        }
      }
    }
  }

  .item-image {
    position: relative;
    overflow: hidden;

    img {
      transition: transform 3s cubic-bezier(0, 0.6, 0.45, 1);
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  .item-content {
    position: relative;

    &::before {
      position: absolute;
      content: "";
      border-radius: 50%;
      display: block;
      border: 1px solid #d7e3e0;
      background: url(../resources/images/common/arrow_icon_02.svg) center center / contain no-repeat;
      pointer-events: none;
      bottom: 0;
      right: 0;
      transition: transform .35s ease;
    }
  }

  .content-title {
    text-transform: uppercase;
    @include text-ellipse(3);
  }

  .date-day {
    color: $color-red;
    font-family: $font-ftv;
    text-transform: uppercase;
  }

  .date-time {
    color: #838f8c;
  }

  @include desktop {
    .list-wrapper {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -0.35rem;
    }

    .list-item {
      padding: 0 0.35rem;
      width: calc(100% / 3);
    }

    .item-image {
      padding-top: calc(288 / 432 * 100%);
    }

    .item-content {
      padding: 0.3rem;

      &::before {
        width: 0.56rem;
        height: 0.56rem;
        margin: 0 0.3rem 0.33rem 0;
      }
    }

    .content-title {
      margin-bottom: 0.64rem;
      font-size: 0.2rem;
      line-height: calc(3 / 2);
    }

    .date-day {
      font-size: 0.45rem;
    }

    .date-time {
      font-size: 0.16rem;
      line-height: calc(36 / 16);
    }
  }

  @include tablet {
    .list-wrapper {
      margin: 0 -0.1rem;
    }

    .list-item {
      padding: 0 0.1rem;
    }
  }
}

.section-top-monopoly {
  .group-bg {
    background: url(../resources/images/top/monopoly_bg_01.jpg) center center / cover no-repeat;

    &::before {
      position: absolute;
      content: "";
      top: 0;
      right: 0;
      width: 0;
      height: 100%;
      background: url(../resources/images/top/monopoly_bg_02.png) no-repeat center / cover;
      pointer-events: none;
      transition: width .6s cubic-bezier(0.8, 0, 1, 1);
    }
  }

  .monopoly-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .monopoly-list {
    .list-wrapper {
      display: flex;
      flex-wrap: wrap;
      @include reset-list;
    }

    .item-wrapper {
      position: relative;
      z-index: 1;
      overflow: hidden;
      border-radius: 5% 5% 0 0;
      padding: 0.05rem 0.05rem 0 0.05rem;

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url(../resources/images/top/monopoly_mask_01.png) center center / cover no-repeat;
        pointer-events: none;
        mix-blend-mode: multiply;
        opacity: 30%;
        z-index: -1;
      }
    }

    .item-image {
      position: relative;
      overflow: hidden;
      border-radius: 5% 5% 0 0;

      &::after {
        content: "";
        position: absolute;
        z-index: 1;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        inset: 0;
        background: linear-gradient(to bottom,
            rgba(1, 69, 55, 0) 55%,
            rgba(1, 69, 55, 1) 87%);
      }
    }

    .item-info {
      color: #fff;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      text-align: center;
      z-index: 3;
      font-size: 0.19rem;
      text-transform: uppercase;
      line-height: calc(22.8 / 19);
      font-weight: 400;

      .item-title {
        margin-bottom: 0.1rem;
      }
    }
  }

  .heading-sub {
    color: #fff;
    font-weight: 500;
    font-family: $font-montser;
    line-height: 1;
  }

  .title-common-primary {
    margin-bottom: 0;
  }

  @include desktop {
    min-height: 9.8rem;

    .wrapper {
      max-width: 18.44rem;
    }

    .monopoly-wrapper {
      max-width: 12.54rem;
      margin-left: auto;
    }

    .heading-sub {
      font-size: 0.45rem;
      margin-top: -0.33rem;
      margin-bottom: 0.37rem;
    }

    .monopoly-heading {
      margin-top: -0.1rem;
    }

    .monopoly-wrapper {
      display: flex;
      gap: 1.32rem;
      justify-content: flex-end;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        top: 50%;
        right: 0;
        left: 1.7rem;
        height: 1px;
        border-bottom: 1px solid #fff;
        opacity: 0.2;
      }
    }

    .title-common-primary {
      width: 1.37rem;
      height: 2.05rem;
    }

    .monopoly-decoration {
      width: 0.55rem;
      height: 0.2rem;
      margin-bottom: 0.42rem;
    }

    .monopoly-logo {
      width: 2.29rem;
      height: 0.48rem;
    }

    .list-wrapper {
      gap: 0.52rem 0;
    }

    .monopoly-list {
      max-width: 8.37rem;

      .item-image {
        width: 2.60rem;
        height: 2.20rem;
      }

      .item-wrapper {
        max-width: 2.7rem;
        min-height: 2.2rem;
      }

      .list-item {
        width: calc(100% / 3);
      }
    }

    .list-item.is-revert {
      .item-image {
        border-radius: 0 0 5% 5%;
      }

      .item-wrapper {
        border-radius: 0 0 5% 5%;
        padding: 0 0.05rem 0.05rem 0.05rem;

        &::after {
          background-image: url(../resources/images/top/monopoly_mask_01_revert.png);
        }
      }

      .item-info {
        top: 0;

        .item-title {
          margin-top: 0.1rem;
        }
      }

      .item-image {
        &::after {
          background: linear-gradient(to top,
              rgba(1, 69, 55, 0) 55%,
              rgba(1, 69, 55, 1) 87%);
        }
      }
    }
  }

  @include tablet {
    .group-bg {
      &::before {
        width: 100%;
      }
    }
  }

  @include mobile {
    min-height: 6.8rem;

    .group-bg {
      position: relative;
      padding: .6rem 0;
    }

    .list-item {
      width: calc(100% / 2);
      margin-bottom: 0.2rem;
    }

    .monopoly-list .item-info {
      font-size: 0.14rem;
      line-height: 1.6;
    }

    .title-common-primary {
      width: 1rem;
      height: auto;
    }

    .heading-sub {
      margin-top: -0.22rem;
    }

    .monopoly-decoration {
      width: 0.4rem;
      margin-bottom: 0.3rem;
    }

    .monopoly-heading {
      margin-bottom: 0.5rem;
    }
  }
}

.section-top-monopoly.is-active {
  .group-bg {
    &::before {
      width: 100%;
      transition: width 2s cubic-bezier(0.2, 0, 0.2, 1) .45s;
    }
  }
}

.section-top-architecture {
  .architecture-wrapper {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;

    &>svg,
    &>img {
      position: absolute;
      top: 0;
      left: 0;
    }

    text {
      fill: #fff;
      font-weight: 500;
    }

    rect {
      clip-path: inset(0 0 100% 0);
      animation: lineReveal 1s ease infinite;
      fill: rgba(255, 255, 255, .5);
    }
  }

  .marker-pulse {
    fill: rgba(127, 0, 0, .3);
    transform-box: fill-box;
    transform-origin: center;
    animation: pulse 2s infinite;
  }

  .marker-dot {
    fill: rgb(127, 0, 0);
  }

  @include desktop {
    min-height: 9.8rem;

    .architecture-wrapper {
      text {
        font-size: .2rem;
        line-height: calc(24 / 20);
      }
    }

    .architecture-content {
      max-width: 17.7rem;
      width: calc(100% - .6rem);
      margin: 0 auto;
    }

    .content-wrapper {
      max-width: 5.2rem;
      margin-left: auto;
    }
  }

  @include tablet {
    min-height: 8rem;

    .architecture-wrapper {
      text {
        font-size: .25rem;
        line-height: calc(24 / 20);
      }
    }
  }

  @include mobile {
    .group-bg {
      position: relative;
      display: block;
    }

    .architecture-wrapper {
      position: relative;
      height: 3.5rem;

      &>img {
        position: relative;
      }
    }

    .architecture-content {
      padding: .4rem .2rem;
    }
  }
}
