@charset "utf-8";
@use "../_base/base"as *;

.footer-logo {
  display: block;
  margin: 0 auto;

  @include desktop {
    width: 1.53rem;
    margin-bottom: 0.5rem;
  }
}

.footer-common {
  .central-bg {
    background: url(../resources/images/common/footer_bg.jpg) center center / cover no-repeat;
  }
}

.footer-common .footer-note {
  color: rgba($color: #f9fbfa, $alpha: 0.502);
}

.footer-common .footer-note span {
  font-style: italic;
  text-decoration: underline;
}

@media print,
(min-width: 768px) {
  .footer-common .central-bg {
    padding: .78rem 0 0.3rem;
  }

  .footer-common .wrapper {
    max-width: 12.16rem;
  }

  .footer-common .footer-wrapper {
    display: flex;
  }

  .footer-common .footer-note {
    flex: 1;
    font-size: 0.15rem;
    line-height: calc(22 / 15);
  }
}

@media only screen and (max-width: 767.98px) {
  .footer-common {

    .central-bg {
      padding: 0.48rem 0;
    }

    .footer-logo {
      width: 2.4rem;
      margin: 0 auto 0.3rem;
    }
  }

  .footer-common .footer-note {
    margin-top: 0.4rem;
    font-size: 0.12rem;
    line-height: 1.3333333333;
  }
}

.footer-common-information .information-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-common-information .information-list * {
  font-style: normal;
}

.footer-common-information .list-item:last-child {
  margin-bottom: 0;
}

.footer-common-information .item-title {
  color: rgba(255, 255, 255, 0.6);
  text-transform: uppercase;
}

.footer-common-information address,
.footer-common-information a {
  color: #fff;
  text-transform: none;
}

.footer-common-information .item-phone {
  color: #fff;
  font-family: $font-ftv;
  text-transform: uppercase;
  display: inline-block;
}

@media print,
(min-width: 768px) {
  .footer-common-information {
    flex: 0 0 auto;
    max-width: 5.96rem;
    width: 100%;
    padding: 0.09rem 0.4rem 0 0.02rem;
  }

  .footer-common-information .list-item {
    margin-bottom: 0.34rem;
  }

  .footer-common-information .item-title {
    margin-bottom: 0.06rem;
    font-size: 0.18rem;
    line-height: 1.2;
  }

  .footer-common-information address,
  .footer-common-information a {
    font-size: 0.18rem;
    line-height: calc(28 / 18);
  }

  .footer-common-information address {
    width: 3.9rem;
  }

  .footer-common-information .item-phone {
    font-size: 0.35rem;
    line-height: 1.2;
    margin-top: -0.05rem;
  }
}

@include tablet {
  .footer-common-information {
    max-width: 50%;
  }
}

@media only screen and (max-width: 767.98px) {
  .footer-common-information .list-item {
    margin-bottom: 0.32rem;
  }

  .footer-common-information .item-title {
    margin-bottom: 0.1rem;
    font-size: 0.16rem;
    line-height: 1.2;
  }

  .footer-common-information address,
  .footer-common-information a {
    font-size: 0.16rem;
    line-height: 1.556;
  }

  .footer-common-information .item-phone {
    font-size: 0.26rem;
    line-height: 1.2;
  }
}

.footer-common-contact .contact-title {
  color: $color-default;
  font-family: $font-ftv;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;

  span {
    color: $color-red;
  }
}

.footer-common-contact .contact-form {
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 0.2rem;
  background: #f9fbfa;
}

.footer-common-contact .form-group {
  display: flex;
}

.footer-common-contact .group-input {
  width: 50%;
}

.footer-common-contact .form-controller {
  display: flex;
  justify-content: center;
}

@media print,
(min-width: 768px) {
  .footer-common-contact {
    flex: 1;
  }

  .footer-common-contact .contact-title {
    margin-bottom: 0.28rem;
    font-size: 0.45rem;
  }

  .footer-common-contact .contact-form {
    padding: 0.38rem 0.38rem 0.16rem;
  }

  .footer-common-contact .form-group {
    gap: 0.3rem;
    margin-bottom: 0.04rem;
  }

  .footer-common-contact .form-controller {
    margin-top: 0.18rem;
  }
}

@media only screen and (max-width: 767.98px) {
  .footer-common-contact {
    padding-top: 0.3rem;
    margin-bottom: 0.3rem;
  }

  .footer-common-contact .contact-title {
    margin-bottom: 0.2rem;
    font-size: 0.3rem;
  }

  .footer-common-contact .contact-form {
    padding: 0.3rem;
  }

  .footer-common-contact .form-group {
    gap: 0.3rem;
    margin-bottom: 0.3rem;
  }

  .footer-common-contact .form-controller {
    margin-top: 0.3rem;
  }
}

.input-common {
  width: 100%;
  border: none;
  background: transparent;
  border-bottom: 1px solid #dee2e1;
  color: #48665f;

  &::-webkit-input-placeholder {
    color: #48665f;
    text-transform: uppercase;
  }

  &::-moz-placeholder {
    color: #48665f;
    text-transform: uppercase;
  }

  &:-ms-input-placeholder {
    color: #48665f;
    text-transform: uppercase;
  }

  &::placeholder {
    color: #48665f;
    text-transform: uppercase;
  }

  &:focus {
    outline: none;
  }
}

@media print,
(min-width: 768px) {
  .input-common {
    font-size: 0.18rem;
    line-height: calc(35 / 18);
    padding-bottom: 0.11rem;
    height: 0.38rem;
  }
}

@media only screen and (max-width: 767.98px) {
  .input-common {
    font-size: 0.16rem;
    padding-bottom: 0.1rem;
    height: 0.38rem;
  }

  html.is-device-iphone .input-common {
    font-size: .18rem;
  }
}

.textarea-common {
  width: 100%;
  border: none;
  background: transparent;
  border-bottom: 1px solid #dee2e1;
  color: #48665f;
  resize: none;

  &::-webkit-input-placeholder {
    color: #48665f;
    text-transform: uppercase;
  }

  &::-moz-placeholder {
    color: #48665f;
    text-transform: uppercase;
  }

  &:-ms-input-placeholder {
    color: #48665f;
    text-transform: uppercase;
  }

  &::placeholder {
    color: #48665f;
    text-transform: uppercase;
  }

  &:focus {
    outline: none;
  }
}

@media print,
(min-width: 768px) {
  .textarea-common {
    font-size: 0.18rem;
    height: 0.9rem;
  }
}

@media only screen and (max-width: 767.98px) {
  .textarea-common {
    font-size: 0.16rem;
    height: 1rem;
  }

  html.is-device-iphone .textarea-common {
    font-size: .18rem;
  }
}

.button-contact {
  cursor: pointer;
  color: #fff;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  background-image: linear-gradient(-90deg, #810101 0%, #9f1616 100%);
  border: none;
  outline: none;
  border-radius: 9999px;
  position: relative;
  transition: background 0.35s ease;
  overflow: hidden;
  font-weight: 700;
  position: relative;

  span {
    position: relative;
    z-index: 1;
  }

  &::before {
    position: absolute;
    content: "";
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background: url(../../resources/images/common/arrow_icon_03.svg) center center / contain no-repeat;
    width: 0.3rem;
    height: 0.17rem;
    margin: 0.01rem 0.3rem 0 0;
    z-index: 1;
    transition: margin .35s ease;
  }

  &::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 99999px;
    background: #eb946c;
    opacity: 0;
    transition: opacity .35s ease;
  }
}

.button-contact:hover {
  &::after {
    opacity: 1;
  }

  &::before {
    margin-right: 0.2rem;
  }
}

@media print,
(min-width: 768px) {
  .button-contact {
    font-size: 0.18rem;
    width: 3rem;
    min-height: 0.6rem;
    padding: 0.06rem 0.3rem 0.04rem;
  }
}

@media only screen and (max-width: 767.98px) {
  .button-contact {
    font-size: 0.16rem;
    width: 2rem;
    min-height: 0.4rem;
    padding: 0.06rem 0.3rem 0.04rem;

    &::before {
      width: 0.19rem;
      height: 0.1rem;
      margin-right: 0.16rem;
    }
  }
}

.socials-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.socials-list .item-wrapper {
  display: block;
  border: 1px solid #fff;
  border-radius: 50%;
}

.socials-list .list-item {
  margin-bottom: 0;
}

@media print,
(min-width: 768px) {
  .socials-list {
    margin-top: 0.47rem;
    gap: 0.2rem;
  }

  .socials-list .item-wrapper {
    width: 0.6rem;
    height: 0.6rem;
  }
}

@media only screen and (max-width: 767.98px) {
  .socials-list {
    margin-top: 0.2rem;
    gap: 0.12rem;
  }

  .socials-list .item-wrapper {
    width: 0.5rem;
    height: 0.5rem;
  }
}

.footer-navigation {
  text-transform: uppercase;
}

.footer-navigation .navigation-list {
  color: #a1bdb2;
  display: flex;
  align-items: center;
}

.footer-navigation .list-item {
  position: relative;
  letter-spacing: 0.01em;
  display: block;
}

.footer-navigation .list-item::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: none;
  opacity: 0.2;
  width: 0.1rem;
  height: 0.1rem;
  border-radius: 50%;
  background-color: #ffffff;
}

.footer-navigation .list-item+.list-item::before {
  display: block;
}

.footer-navigation small {
  color: #fff;
}

.footer-navigation small span {
  opacity: 0.6;
}

@media print,
(min-width: 768px) {
  .footer-navigation {
    margin-top: 0.42rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .footer-navigation small {
    font-size: 0.16rem;
    line-height: 1.375;
  }

  .footer-navigation .navigation-list {
    gap: 0.2rem;
  }

  .footer-navigation .list-item {
    padding-left: 0.26rem;
  }
}

@media only screen and (max-width: 767.98px) {
  .footer-navigation {
    margin-top: 0.2rem;
  }

  .footer-navigation small {
    display: block;
    margin-bottom: 0.12rem;
    font-size: 0.12rem;
    line-height: 1.5;
  }

  .footer-navigation .navigation-list {
    gap: 0.1rem;
  }

  .footer-navigation .list-item {
    padding-left: 0.2rem;
    font-size: 0.14rem;
  }

  .footer-navigation .list-item:first-child {
    padding-left: 0;
  }
}

.button-chat {
  position: fixed;
  z-index: 999;
  cursor: pointer;
  display: block;
}

.button-chat .button-wrapper {
  transition: transform 0.3s ease;
}

.button-chat:hover .button-wrapper {
  transform: scale(1.1);
}

@media print,
(min-width: 768px) {
  .button-chat {
    width: 0.56rem;
    height: 0.56rem;
    bottom: 0.2rem;
    right: 0.2rem;
  }
}

@media only screen and (max-width: 767.98px) {
  .button-chat {
    width: 0.4rem;
    height: 0.4rem;
    bottom: 0.2rem;
    right: 0.2rem;
  }
}

.footer-info {
  .info-list {
    @include reset-list;
    color: rgba($color: #fff, $alpha: .702);
    text-transform: uppercase;
  }

  @include desktop {
    display: flex;
    justify-content: space-between;
    margin-top: 0.5rem;

    .info-list {
      max-width: 5.96rem;
      flex: 0 0 auto;
      width: 100%;
      padding-right: 0.2rem;
      font-size: .15rem;
      line-height: calc(24 / 15);
    }
  }

  @include tablet {
    .info-list {
      max-width: 50%;
    }
  }

  @include mobile {
    .list-item {
      line-height: 1.5;
    }
  }
}
