@charset "utf-8";
@use "../_base/base"as *;

.footer-logo {
  display: block;
  margin: 0 auto;

  @include desktop {
    width: 1.53rem;
    margin-bottom: 0.5rem;
  }
}

.footer-common .footer-note {
  color: rgba($color: #f9fbfa, $alpha: 0.502);
}

.footer-common .footer-note span {
  font-style: italic;
  text-decoration: underline;
}

.footer-common .footer-wrapper {
  display: flex;
}

@media print,
(min-width: 768px) {
  .footer-common .central-bg {
    padding: .78rem 0 0.3rem;
    background: url(../resources/images/common/footer_bg.jpg) center center / cover no-repeat;
  }

  .footer-common .wrapper {
    max-width: 12.16rem;
  }

  .footer-common .footer-note {
    flex: 1;
    font-size: 0.15rem;
    line-height: calc(22 / 15);
  }
}

@media only screen and (max-width: 767.98px) {
  .footer-common {

    .central-bg {
      padding: 0.24rem 0;
      background: url(../resources/images/common/footer_bg_sp.jpg) center center / cover no-repeat;
    }

    .wrapper {
      padding: 0 .05rem;
    }

    .footer-logo {
      width: .765rem;
      margin: 0 auto 0.3rem;
    }
  }

  .footer-common .footer-note {
    margin-top: .1rem;
    font-size: 0.075rem;
    line-height: calc(22 / 15);
    order: 2;
  }

  .footer-common .footer-wrapper {
    flex-direction: column-reverse;
    margin-bottom: .24rem;
  }
}

.footer-common-information .information-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-common-information .information-list * {
  font-style: normal;
}

.footer-common-information .list-item:last-child {
  margin-bottom: 0;
}

.footer-common-information .item-title {
  color: rgba(255, 255, 255, 0.6);
  text-transform: uppercase;
}

.footer-common-information address,
.footer-common-information a {
  color: #fff;
  text-transform: none;
}

.footer-common-information .item-phone {
  color: #fff;
  font-family: $font-ftv;
  text-transform: uppercase;
  display: inline-block;
}

@media print,
(min-width: 768px) {
  .footer-common-information {
    flex: 0 0 auto;
    max-width: 5.96rem;
    width: 100%;
    padding: 0.09rem 0.4rem 0 0.02rem;
  }

  .footer-common-information .list-item {
    margin-bottom: 0.34rem;
  }

  .footer-common-information .item-title {
    margin-bottom: 0.06rem;
    font-size: 0.18rem;
    line-height: 1.2;
  }

  .footer-common-information address,
  .footer-common-information a {
    font-size: 0.18rem;
    line-height: calc(28 / 18);
  }

  .footer-common-information address {
    width: 3.9rem;
  }

  .footer-common-information .item-phone {
    font-size: 0.35rem;
    line-height: 1.2;
    margin-top: -0.05rem;
  }
}

@include tablet {
  .footer-common-information {
    max-width: 50%;
    padding: 0 .14rem;
  }
}

@media only screen and (max-width: 767.98px) {
  .footer-common-information .list-item {
    margin-bottom: 0.18rem;
  }

  .footer-common-information .list-item:has(a[href^="mailto:"]) {
    display: flex;
    align-items: center;
    gap: .1rem;

    .item-title {
      margin: 0;
    }
  }

  .footer-common-information .item-title {
    margin-bottom: .03rem;
    font-size: 0.08rem;
    line-height: 1.2;
  }

  .footer-common-information address,
  .footer-common-information a {
    font-size: 0.09rem;
    line-height: calc(28 / 18);
  }

  .footer-common-information .item-phone {
    font-size: 0.175rem;
    line-height: 1.2;
  }
}

.footer-common-contact .contact-title {
  color: $color-default;
  font-family: $font-ftv;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;

  span {
    color: $color-red;
  }
}

.footer-common-contact .contact-form {
  border: 1px solid rgba(255, 255, 255, 0.25);
  background: #f9fbfa;
}

.footer-common-contact .form-group {
  display: flex;

  p {
    margin: 0;
  }
}

.footer-common-contact .group-input {
  width: 50%;

  p {
    margin: 0;
  }
}

.footer-common-contact .form-controller {
  display: flex;
  justify-content: center;
}

@media print,
(min-width: 768px) {
  .footer-common-contact {
    flex: 1;
  }

  .footer-common-contact .contact-title {
    margin-bottom: 0.28rem;
    font-size: 0.45rem;
  }

  .footer-common-contact .contact-form {
    border-radius: 0.2rem;
    padding: 0.38rem 0.38rem 0.16rem;
  }

  .footer-common-contact .form-group {
    gap: 0.3rem;
    margin-bottom: 0.04rem;
  }

  .footer-common-contact .form-controller {
    margin-top: 0.18rem;
  }
}

@media only screen and (max-width: 767.98px) {
  .footer-common-contact {
    margin-bottom: 0.3rem;
  }

  .footer-common-contact .contact-title {
    margin-bottom: .11rem;
    font-size: 0.225rem;
  }

  .footer-common-contact .contact-form {
    border-radius: .1rem;
    padding: .2rem;
  }

  .footer-common-contact .form-group {
    gap: .14rem;
    margin-bottom: .12rem;
  }

  .footer-common-contact .form-controller {
    margin-top: .22rem;

    p {
      margin: 0;
    }
  }
}

.input-common {
  width: 100%;
  border: none;
  background: transparent;
  border-bottom: 1px solid #dee2e1;
  color: #48665f;

  &::-webkit-input-placeholder {
    color: #48665f;
    text-transform: uppercase;
  }

  &::-moz-placeholder {
    color: #48665f;
    text-transform: uppercase;
  }

  &:-ms-input-placeholder {
    color: #48665f;
    text-transform: uppercase;
  }

  &::placeholder {
    color: #48665f;
    text-transform: uppercase;
  }

  &:focus {
    outline: none;
  }
}

@media print,
(min-width: 768px) {
  .input-common {
    font-size: 0.18rem;
    line-height: calc(35 / 18);
    padding-bottom: 0.11rem;
    height: 0.38rem;
  }
}

@media only screen and (max-width: 767.98px) {
  .input-common {
    font-size: 0.08rem;
    padding-bottom: 0.08rem;
  }

  html.is-device-iphone .input-common {
    font-size: .12rem;
  }
}

.textarea-common {
  width: 100%;
  border: none;
  background: transparent;
  border-bottom: 1px solid #dee2e1;
  color: #48665f;
  resize: none;

  &::-webkit-input-placeholder {
    color: #48665f;
    text-transform: uppercase;
  }

  &::-moz-placeholder {
    color: #48665f;
    text-transform: uppercase;
  }

  &:-ms-input-placeholder {
    color: #48665f;
    text-transform: uppercase;
  }

  &::placeholder {
    color: #48665f;
    text-transform: uppercase;
  }

  &:focus {
    outline: none;
  }
}

@media print,
(min-width: 768px) {
  .textarea-common {
    font-size: 0.18rem;
    height: 0.9rem;
  }
}

@media only screen and (max-width: 767.98px) {
  .textarea-common {
    font-size: 0.08rem;
    height: .44rem;
  }

  html.is-device-iphone .textarea-common {
    font-size: .12rem;
  }
}

.button-contact {
  cursor: pointer;
  color: #fff;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  background-image: linear-gradient(-90deg, #810101 0%, #9f1616 100%);
  border: none;
  outline: none;
  border-radius: 9999px;
  position: relative;
  transition: background 0.35s ease;
  overflow: hidden;
  font-weight: 700;
  position: relative;

  span {
    position: relative;
    z-index: 1;
  }

  &::before {
    position: absolute;
    content: "";
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background: url(../../resources/images/common/arrow_icon_03.svg) center center / contain no-repeat;
    width: 0.3rem;
    height: 0.17rem;
    margin: 0.01rem 0.3rem 0 0;
    z-index: 1;
    transition: margin .35s ease;
  }

  &::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 99999px;
    background: #eb946c;
    opacity: 0;
    transition: opacity .35s ease;
  }
}

.button-contact:hover {
  &::after {
    opacity: 1;
  }

  &::before {
    margin-right: 0.2rem;
  }
}

@media print,
(min-width: 768px) {
  .button-contact {
    font-size: 0.18rem;
    width: 3rem;
    min-height: 0.6rem;
    padding: 0.06rem 0.3rem 0.04rem;
  }
}

@media only screen and (max-width: 767.98px) {
  .button-contact {
    font-size: 0.09rem;
    width: 1.5rem;
    min-height: 0.3rem;
    padding: 0.06rem 0.3rem 0.04rem;

    &::before {
      width: 0.145rem;
      height: 0.08rem;
      margin-right: 0.16rem;
    }
  }
}

.socials-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}

.socials-list .item-wrapper {
  display: block;
  border: 1px solid rgba($color: #fff, $alpha: 0.502);
  border-radius: 50%;
}

.socials-list .list-item {
  margin-bottom: 0;
}

@media print,
(min-width: 768px) {
  .socials-list {
    margin-top: 0.47rem;
    gap: 0.2rem;
  }

  .socials-list .item-wrapper {
    width: 0.6rem;
    height: 0.6rem;
  }
}

@media only screen and (max-width: 767.98px) {
  .socials-list {
    margin-top: 0.28rem;
    gap: 0.12rem;
    justify-content: center;
  }

  .socials-list .item-wrapper {
    width: 0.3rem;
    height: 0.3rem;
  }
}

.footer-navigation {
  text-transform: uppercase;
  display: flex;
}

.footer-navigation .navigation-list {
  color: #a1bdb2;
  display: flex;
  align-items: center;
}

.footer-navigation .list-item {
  position: relative;
  letter-spacing: 0.01em;
  display: block;
}

.footer-navigation .list-item::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: none;
  opacity: 0.2;
  border-radius: 50%;
  background-color: #ffffff;
}

.footer-navigation .list-item+.list-item::before {
  display: block;
}

.footer-navigation small {
  color: #fff;
}

.footer-navigation small span {
  opacity: 0.6;
}

@media print,
(min-width: 768px) {
  .footer-navigation {
    margin-top: 0.42rem;
    align-items: center;
    justify-content: space-between;
  }

  .footer-navigation small {
    font-size: 0.16rem;
    line-height: 1.375;
  }

  .footer-navigation .navigation-list {
    gap: 0.2rem;
  }

  .footer-navigation .list-item {
    padding-left: 0.26rem;

    &::before {
      width: 0.1rem;
      height: 0.1rem;
    }
  }
}

@media only screen and (max-width: 767.98px) {
  .footer-navigation {
    margin-top: 0.24rem;
    flex-direction: column-reverse;
    text-align: center;
  }

  .footer-navigation small {
    display: block;
    margin-bottom: 0.12rem;
    font-size: 0.08rem;
    line-height: calc(22 / 16);
  }

  .footer-navigation .navigation-list {
    gap: 0.1rem;
    justify-content: center;
    margin-bottom: .25rem;
  }

  .footer-navigation .list-item {
    padding-left: 0.15rem;
    font-size: 0.08rem;
    line-height: calc(22 / 16);

    &::before {
      width: 0.05rem;
      height: 0.05rem;
    }
  }

  .footer-navigation .list-item:first-child {
    padding-left: 0;
  }
}

.button-top {
  position: fixed;
  z-index: 999;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease, background-color .35s ease;
  border-radius: 50%;
  transform: rotate(-90deg);
  border: 1px solid #ffffff;
  background-color: transparent;

  img {
    width: auto;
  }

  &:hover {
    background-color: #006a51;
  }

  &.is-active {
    opacity: 1;
    visibility: visible;
  }
}

@media print,
(min-width: 768px) {
  .button-top {
    width: 0.8rem;
    height: 0.8rem;
    bottom: 0.15rem;
    left: 0.2rem;
  }
}

@media only screen and (max-width: 767.98px) {
  .button-top {
    width: 0.3rem;
    height: 0.3rem;
    bottom: 0.2rem;
    left: 0.2rem;

    img {
      max-width: .17rem;
    }
  }
}

.footer-info {
  .info-list {
    @include reset-list;
    color: rgba($color: #fff, $alpha: .702);
    text-transform: uppercase;
  }

  @include desktop {
    display: flex;
    justify-content: space-between;
    margin-top: 0.5rem;

    .info-list {
      max-width: 5.96rem;
      flex: 0 0 auto;
      width: 100%;
      padding-right: 0.2rem;
      font-size: .15rem;
      line-height: calc(24 / 15);
    }
  }

  @include tablet {
    .info-list {
      max-width: 50%;
    }
  }

  @include mobile {
    padding: 0 .14rem;
    display: flex;
    flex-direction: column;

    .list-item {
      line-height: 1.5;
    }

    .info-list {
      max-width: 5.96rem;
      flex: 0 0 auto;
      width: 100%;
      padding-right: 0.2rem;
      font-size: .075rem;
      line-height: calc(24 / 15);
    }
  }
}

.button-footer-common {
  &>a:not(.button-top) {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .button-wrapper {
    transition: transform 0.3s ease;
    display: flex;
    align-items: center;
    gap: .1rem;
  }

  .button-chat:hover .button-wrapper,
  .button-360:hover .button-wrapper,
  .button-phone:hover .button-wrapper,
  .button-cta:hover .button-wrapper {
    transform: scale(1.1);
  }

  @include desktop {
    right: 0.2rem;
    bottom: 0;

    &>a:not(.button-top) {
      position: fixed;
      z-index: 999;
    }

    .button-chat {
      width: 0.56rem;
      height: 0.56rem;
      bottom: 0.2rem;
      right: 0.2rem;
    }

    .button-360 {
      width: 0.52rem;
      height: 0.45rem;
      bottom: .95rem;
      right: 0.2rem;
    }
  }

  @include mobile {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .05rem;
    z-index: 999;
    bottom: .15rem;
    left: 50%;
    transform: translateX(-50%);
    width: 2.1rem;
    background-color: rgba($color: #00604c, $alpha: .6);
    border-radius: 99999px;
    padding: .05rem;

    .button-wrapper {
      height: .28rem;
      flex-shrink: 0;

      span {
        flex-shrink: 0;
        color: #fff;
        font-size: .09rem;
        text-transform: uppercase;
      }
    }

    .button-chat {
      width: 0.28rem;
    }

    .button-360 {
      width: 0.32rem;
    }

    .button-cta {
      border: 1px solid #ffffff;
      border-radius: 9999px;
      padding: 0 .1rem;
    }

    .button-phone {
      width: .28rem;
      border: 1px solid #ffffff;
      border-radius: 50%;
    }
  }
}
